Flask
Flask-Cors
sentence-transformers
torch
pandas
numpy
googletrans==4.0.0-rc1
langchain
langchain-community
langchain-core
faiss-cpu
beautifulsoup4
gnews
python-dotenv
google-search-results
langchain-huggingface
gunicorn
hashlib
json
time
pandas
sentence-transformers
torch
requests
